#####################################################
#               PYTHON BACKEND
#####################################################
# Virtual environment
backend/.venv/
venv/
.env/
backend/.env
# Python cache
__pycache__/
*.pyc
# Packages
*.egg
*.egg-info/
dist/
build/
# Large ML model files
backend/model/
*.safetensors
*.pt
*.pth
*.h5
*.onnx
# Torch & dependency large binaries
*.dll
*.lib
*.so
*.dylib

#####################################################
#               NODE / VITE FRONTEND
#####################################################

# Dependencies
node_modules/

# Build output
dist/
build/

# Vite cache
.cache/
.vite/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
#####################################################
#               ENVIRONMENT FILES
#####################################################
.env
.env.*
#####################################################
#           SYSTEM & EDITOR FILES
#####################################################
# OS files
.DS_Store
Thumbs.db
# Editor configs
.vscode/
.idea/
# Backup or temp files
*.bak
*.tmp
# Bun cache
bun.lockb
